<div style="margin: 22px; font-size: 25px; font-weight: 400;">Calendário</div>
<div class="white-box">
    <div class="title1">
        Definir Evento
    </div>
    <hr>
    <div class="input-box">
        <input style="height: 30px;margin-right: 10px;margin-top: 15px;" type="date" [(ngModel)]="date">
        <mat-form-field class="warnings-input" >
            <mat-label>Descrição</mat-label>
            <input matInput placeholder="Descrição" [(ngModel)]="description"  > 
        </mat-form-field>
        <button mat-raised-button class="btn-warings" (click)="eventBtn()" [disabled]="!description || !date">Definir</button>
    </div>
</div>
<div class="white-box">
    <div class="title1">
        Lista de eventos
    </div>
    <hr>
    <div  class="residents-warnings">
        Sem Eventos no momento
    </div>
</div>