<div class="wrapper">
  <div class="wrapper-form">
    <div class="logo"></div>
    <mat-form-field class="login-input">
      <mat-label>E-mail</mat-label>
      <input type="text" matInput placeholder="Insira seu e-mail" />
    </mat-form-field>
    <mat-form-field class="login-input">
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="Insira sua senha" />
    </mat-form-field>
    <button class="login-btn" mat-raised-button="primary">Login</button>
  </div>
</div>
