<div class="wrapper">
  <div class="wrapper-form">
    <div class="logo"><img src="{{icon}}" alt=""></div>
    <mat-form-field class="login-input">
      <mat-label>E-mail</mat-label>
      <input [(ngModel)]="email" type="text" matInput placeholder="Insira seu e-mail" />
    </mat-form-field>
    <mat-form-field class="login-input">
      <mat-label>Senha</mat-label>
      <input [(ngModel)]="password" type="password" matInput placeholder="Insira sua senha" />
    </mat-form-field>
    <div class="login-options">
      <button class="login-btn login-basic" (click)="Login()" mat-raised-button="primary">Login</button>
      <button class="login-btn login-social" (click)="Login()" mat-raised-button="primary">Google</button>
    </div>
  </div>
</div>